<!DOCTYPE html>
<html>
  <head>
    <title>Shaastra Circuit Design Challenge</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>HEALTH MONITORING SYSTEM</h1>
    <p>Built by The Tinkerers</p>
  </body>
</html>
